/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {

     :root {
        font-size: 18px;
    }

    .profile-sidebar .profile-pic,
    .overlay {
        width: 150px;
        height: 150px;
    }

    .chats .text-muted img {
        width: 14px;
        height: 14px;
    }

    .ml-3,
    .mx-3 {
        margin-left: .5rem!important;
    }

    .mr-3,
    .mx-3 {
        margin-right: .5rem!important;
    }
    
    .chat i {
        visibility: visible;
        font-size: 1.2rem;
        
    }

    .chat .details {
        font-size: 0.6rem;
    }

    .chat-section .message {
        padding-right: 70px;
    }

    .chat-section .self,
    .chat-section .other {
        margin: 3% 0;
        font-size: 0.7rem;
    }

    .chat-section .text-muted {
        font-size: 0.5rem;
    }

    .chat-section {
        padding: 0;
    }

    .triangle-left,
    .triangle-right {
        margin: 3% 0;
    }

    .chat-section .text-muted img {
        width: 14px;
        height: 14px;
    }
}






/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 768px) {
     :root {
        font-size: 20px;
    }
    .chats li {
        padding: 3% 0%;
    }

    .chat i {
        visibility: visible;
        font-size: 1.3rem;
    }
    .chat-section {
        padding: 0 5%;
    }
}






/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 992px) {
    
    :root {
        font-size: 18px;
    }

    .chats .text-muted img {
        width: 14px;
        height: 14px;
    }

    .profile-sidebar .profile-pic,
    .overlay {
        width: 150px;
        height: 150px;
    }
}






/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}






/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}