/*********************************************/


/********** color: #007bff; **********/


/*********************************************/

:root {
    font-size: 20px;
}

*:focus {
    outline: none !important;
    -webkit-appearance: none !important;
}






html,
body {
    font-family: Roboto, sans-serif;
    text-rendering: optimizeLegibility;
}



.row {
    margin: 0;
    overflow: hidden;
}






.sidebar,
.chat,
.profile-sidebar {
    height: 100vh;
    padding-right: 0;
    padding-left: 0;
}






/*Sidebar*/

.sidebar .profile {

    background-color: #555;
    height: 10vh;
    padding-left: 3%;
}

.sidebar .profile-pic,
.chat .rounded-circle {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.chats .position-absolute {
   right: 5%;
   text-align: right;
}

.chats .unread {
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 0.6rem;
    display: inline-block;
    text-align: center;
}

.chats img {
    width: 50px;
    height: 50px;
}

.chats .text-muted img {
    width: 16px;
    height: 16px;
}

.chats ul {
    list-style: none;
}

.chats li {
    padding: 3% 2%;
    font-size: 0.8rem;
}

.chats li:first-child {
    background: #d8d8d8;
}

.chats li:hover {
    background-color: #F4F4F4 !important;
    cursor: pointer;
}

.chats span,
.chat .details {
    font-size: 0.7rem;
}





/*Profile Bar*/

.profile-sidebar {
    background: #f1f1f1;
    overflow-y: auto;
}

.profile-nav {
    height: 20vh;
}

.profile-nav div {
    margin: 3% 4%;
    width: 100%;
}

.profile-nav i {
    margin: 0 2%;
    font-size: 1.1rem;
    cursor: pointer;
}

.profile-sidebar .profile-pic {
    width: 200px;
    height: 200px;
}





/*Fade in Overlay effect*/

.pic-container {
    width: 50%;
    margin: 10% auto;
}

.pic-container:hover .overlay {
    opacity: 0.7;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    transition: .3s ease;
    background-color: #666;
    cursor: pointer;
}

.text {
    color: #fff;
    font-size: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text i {
    font-size: 2rem;
}

.edit {
    margin: 6% 0 3% 0;
}

.edit .lbl {
    font-size: 0.7rem;
    padding: 1% 4%;
    background: #fff;
    color: #007bff;
}

.edit input {
    width: 100%;
    background: #fff;
    padding: 3% 4%;
    border: 0;
    border-bottom: 1px solid #e6e4e0;
    font-size: 0.8rem;
}

.profile-sidebar .text-muted {
    font-size: 0.68rem;
    padding: 0 4%;
}





.chat {
    background: url('./img/background.png') repeat;
}

.chat i{
	
	visibility: hidden;
	cursor:pointer;
}

.chat>.row:first-child {
    background-color: #555;
    font-size: 0.8rem;
    color: #fff;
    height: 10vh;
}

.chat .chat-window_name {
    font-size: 0.8rem;
}

.chat-section {
    padding: 0 10%;
    overflow-y: auto;
    height: 90vh;
}

.chat-section .self,
.chat-section .other {

    margin: 1% 0;
    background: #fff;
    font-size: 0.75rem;
    padding: 1%;
    box-shadow: -2px 2px 1px 0px #cccbcb;
}

.chat-section .self {
    border-top-right-radius: 0px !important;
    background-color: #DCF8C6;
}

.chat-section .other {
    border-top-left-radius: 0px !important;
}

.triangle-left {
    border-left: 9px solid transparent;
    border-top: 9px solid #fff;
}

.triangle-right {
    border-right: 9px solid transparent;
    border-top: 9px solid #DCF8C6;
}

.triangle-left,
.triangle-right {
    width: 0;
    height: 0;
    z-index: 99;
    margin: 1% 0;
}

.chat-section .message {
    padding-right: 100px;
    white-space: nowrap;
}

.chat-section .text-muted {
    font-size: 0.6rem;
    white-space: nowrap;
    bottom: 2%;
    right: 2%;
}