/*****************************************************/


/********** color: #007bff; color: #343a40; **********/

/********** prefixer:https://autoprefixer.github.io/ **********/

/*********************************************/


/*********************************************/


/********** Basic setting **********/


/*********************************************/

:root {
    font-size: 20px;
}

*:focus {
    outline: none !important;
    -webkit-appearance: none !important;
}

html,
body {
    font-family: Roboto, sans-serif;
    text-rendering: optimizeLegibility;
}

.row {
    margin: 0;
    overflow: hidden;
}

.sidebar,
.chat,
.profile-sidebar {
    height: 100vh;
}






/*********************************************/


/********** Sidebar **********/


/*********************************************/

.sidebar .profile {
    height: 10vh;
}

.sidebar .profile-pic,
.chat .rounded-circle {

    width: 40px;
    height: 40px;
    cursor: pointer;
}



/*********************************************/


/********** Chats **********/


/*********************************************/

.chats .position-absolute {
    right: 5%;
}

.chats .unread {
    width: 20px;
    height: 20px;
    font-size: 0.6rem;
}

.chats img {

    width: 50px;
    height: 50px;
}

.chats .text-muted img {
    width: 16px;
    height: 16px;
}

.chats ul {
    list-style: none;
}

.chats li {
    font-size: 0.8rem;
}

.chats li:first-child {
    background: #d8d8d8;
}

.chats li:hover {
    cursor: pointer;
}

.chats span,
.chat .details {
    font-size: 0.7rem;
}




/*********************************************/


/********** profile sidebar **********/


/*********************************************/

.profile-sidebar {
    background: #f1f1f1;
    overflow-y: auto;
}

.profile-nav {
    height: 20vh;
}

.profile-nav i {
    font-size: 1.1rem;
    cursor: pointer;
}

.profile-sidebar .profile-pic {
    width: 200px;
    height: 200px;
}




/*Fade in Overlay effect for profile pic*/

.pic-container {
    width: 50%;
}

.pic-container:hover .overlay {
    opacity: 0.7;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    opacity: 0;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    background-color: #666;
    cursor: pointer;
}

.text {
    font-size: 0.8rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



/*name and about in profile bar*/

.text i {
    font-size: 2rem;
}

.edit .lbl {
    font-size: 0.7rem;
}

.edit input {
    border-bottom: 1px solid #e6e4e0;
    font-size: 0.8rem;
    -webkit-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
            box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.profile-sidebar .text-muted {
    font-size: 0.68rem;
}






/*********************************************/


/********** Individual Chat Area **********/


/*********************************************/

.chat {
    background: url('https://res.cloudinary.com/gscode/image/upload/v1523549300/whatsapp-bg.png') repeat;
}

.chat i {

    visibility: hidden;
    cursor: pointer;
}

.chat>.row:first-child {
    font-size: 0.8rem;
    height: 10vh;
}

.chat .chat-window_name {
    font-size: 0.8rem;
}

.chat-section {
    overflow-y: auto;
    height: 90vh;
}



/*message*/

.chat-section .self,
.chat-section .other {

    margin: 5px 0;
    font-size: 0.75rem;
    -webkit-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
            box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.chat-section .self {
    border-top-right-radius: 0px !important;
    background: #DCF8C6;
}

.chat-section .other {
    border-top-left-radius: 0px !important;
}

.chat-section .message {
    padding-right: 100px;
    white-space: nowrap;
}

.chat-section .text-muted {
    font-size: 0.6rem;
    white-space: nowrap;
    bottom: 2%;
    right: 2%;
}



/*triangle shape*/

.triangle-left {
    border-left: 9px solid transparent;
    border-top: 9px solid #fff;
}

.triangle-right {
    border-right: 9px solid transparent;
    border-top: 9px solid #DCF8C6;
}

.triangle-left,
.triangle-right {
    width: 0;
    height: 0;
    z-index: 99;
    margin: 5px 0;
}



/*main date*/

.chat-section .date {

    font-size: 0.6rem;
    background-color: rgba(225, 245, 254, 0.92);
    -webkit-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
            box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}